.login-pf {
    background: none;
}

.login-pf body {
    background: none;
    background-color: #ffffff;
    background-size: cover;
    height: 100%;
}

#kc-header {
    color: black;
}

a {
color: #007bc8;
}
